html {
    scroll-behavior: smooth;
  }

.navbar-toggler {
    cursor: pointer;
  }

 .bg-blue {

    background-color: #1A2238;
}

.bg-orange {
padding-top: 20px;
    background-color: #A8D0E6;

} 



.techskills {
    list-style: square;
}

body {

    background-color: #b4bcc2;
}

section {
    background-color: #eceff2;
}

footer {
    border-top: 5px solid #1A2238;;
}

footer div {
    display: flex;
    justify-content: center;
    background-color: #eceff2;
    padding-top: 20px;
}

li {
    padding-top: 3px;
}

.card, .card-header, .card-body, .small {
    display: flex;
    justify-content: center;
    background-color: #eceff2;
    border: none;
    padding: 2px;
}

.spacer {
    margin-left: 5px;
}

.jumbotron {

    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.textcolor {

    color: #F8E9A1
}

.contactinfo {
    display: flex;
    /* justify-content: space-between;
    width: 50%; */
}

span {
    margin-left: 15px;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.space {
padding: 20px;

}

.w3-blue{
    background-color: #1A2238;
    height: 5px;
}

.h3space {
    padding-left: 50px;
}

.apps {
    display: flex;
    justify-content: space-between;
}

.setwidth {
    width: 100%;

}

.picture {
    min-width: 300px;
}


